

---
---

@import "{{ site.theme }}";
.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
//Proof that this gets added at all? 1
section {
    padding: 20px 0;
    width: 700px;
}
//Proof that this gets added at all? 2
