---
---

@import "{{ site.theme }}";

// Your CSS here
body {
    font-size: 15px;
    line-height: 1.2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
section {
    padding: 20px 0;
    width: 900px;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #d0d0d0;
}

th {
    background-color: #e0e0e0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

section p img {
    float:right;
    margin: 0px 10px 8px 3px;
}

header {
    float: none;
    position: static;
    width: auto;
    background: beige;
    border-radius: 40px;
    padding: 25px 8px 2px 8px;
    text-align:center;
}

header h1 a {
    color: #333366;
    font-size:1.2em;
}

h1, h2, h3{
    clear: both;
}

section h1 {
    font-size: 28px;
    background-color: #333366;
    padding: 12px 12px;
    border-radius: 15px;
    color: #FFFFFF;
}

section h2 {
    font-size: 24px;
    background-color: #4646aa;
    padding: 10px 12px;
    border-radius: 15px;
    color: #e4e3fc;
}

section h3 {
    font-size: 20px;
    background-color: #a7a7da;
    padding: 8px 12px;
    border-radius: 15px;
}

section ul {
    padding-top:8px;
    padding-bottom:8px;
    border-top:#a7a7da 1px solid;
    border-bottom:#a7a7da 1px solid;
}

footer {
    position: unset;
}

.view {
    font-size:0.7em;
}