---
---

@import "{{ site.theme }}";

// Your CSS here
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;

}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
section {
    padding: 20px 0;
    width: 800px;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
}

tr:nth-child(even) {background-color: #d0d0d0;}